.anchor {
  position:relative;
}
.anchor a {
  position: absolute;
  left: 0px;
  top: -56px;
}
.parallax {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */

    /* Set a specific height */
    height: 81vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-big {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */

    /* Set a specific height */
    height: 110vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-big {
  padding-top: 40px;
  background-color: rgba(0,0,0,0.65);
  height: 110vh;
  width: 100%;
}

.filter {
  padding-top: 40px;
  background-color: rgba(0,0,0,0.65);
  height: 81vh;
  width: 100%;

}

/* .filter-row {
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  margin:0px;
} */

.text_clean {
  background-color: rgba(255,255,255, 0.9);
  border-radius: 15px;
  padding: 30px;
  height: 65vh;
}

.text_row {
  background-color: rgba(255,255,255, 0.9);
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
}

.selfimage {
  max-height: 65vh;
  border-radius: 20px;
  border: black 2px solid;
  bottom: 5vh;
}

.prjlink {
  max-height: 200px;
  max-width: 300px;
}
#name {
  margin-left: 15px;
}
