.anchor {
  position:relative;
}
.anchor a {
  position: absolute;
  left: 0px;
  top: -56px;
}
.parallax {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */

    /* Set a specific height */
    height: 650px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.last-parallax {
  /* Set a specific height */
  height: 575px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-big {
    /* The image used */
    /* background-image: url("img_parallax.jpg"); */

    /* Set a specific height */
    height: 850px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-big {
  padding-top: 40px;
  background-color: rgba(0,0,0,0.65);
  height: 850px;
  width: 100%;
}

.last-filter {
  padding-top: 40px;
  background-color: rgba(0,0,0,0.65);
  height: 575px;
  width: 100%;

}
.filter {
  padding-top: 40px;
  background-color: rgba(0,0,0,0.65);
  height: 650px;
  width: 100%;

}

/* .filter-row {
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  margin:0px;
} */

.text_clean {
  background-color: rgba(255,255,255, 0.9);
  border-radius: 15px;
  padding: 30px;
  height: 500px;
  overflow:hidden;
}

.text_row {
  background-color: rgba(255,255,255, 0.9);
  border-radius: 15px;
  padding: 30px;
  margin: 10px;
}

.edge_row {
  background-color: rgba(255,255,255, 0.9);
  padding: 30px;
  height: 84px;
}

.interests {
  padding-left:0px;
  padding-right: 0px;
}

.selfimage {
  max-height: 500px;
  border-radius: 20px;
  border: black 2px solid;
}

.prjlink {
  max-height: 200px;
  max-width: 300px;
}
#name {
  margin-left: 15px;
}

.filter-row {
  background-color: rgba(0,0,0,0.65);
  height: 40px;
}

.filter-full-row {
  background-color: rgba(0,0,0,0.65);
  height: 84px;
}

.filter-part-row {
  background-color: rgba(0,0,0,0.3);
}
.filter-rest {
  background-color: rgba(0,0,0,0.65);
  height: 79px;
}
